@model Session1.Models.CustomErrorHandler

@{
    ViewData["Title"] = "GolbalErrorHandler";
}

<h1>GolbalErrorHandler</h1>

<div>
    <h4>CustomErrorHandler</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>
